<tr>
  <td><%= image_tag product.image if product.image.attached? %></td>
  <td><%= product.name %></td>
  <td><%= product.active %></td>
  <td><%= product.praice %></td>
  <td> tag.name </td>
  <td class='text-right'>
    <%= link_to 'Ver', frontend_products_path(product), class: 'btn btn-success' %>
  </td>
</tr>
