<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Catálogo</div>
  <div class="list-group list-group-flush">
    <%= link_to 'Productos', backend_products_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Categorias', backend_categories_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Tags', backend_tags_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Usuarios', backend_categories_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Configuración Web', backend_categories_path, class: 'list-group-item list-group-item-action bg-light' %>
  </div>
</div>
